.holder {
    width: 100%;
    display: block;
}

.content {
    padding: 10px 26px 10px 25px;
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.popup {
    margin: -90px auto 0;
    padding: 6px;
    position: absolute;
    z-index: 999;
    width: 195px;
    height: 400px;
    top: 70%;
    left: 50%;

}